[2020-01-11 02:18] rickyPanzer opened #2 "in netlify pipeline: No Gatsby cache found. Building fresh..."
Hi there,

Locally I was able to use to this plugin and it works, but in the netlify pipeline, I'm getting this message:

I am also noticing a message above:

It seems to be able to the save the cache properly in the onSaveCache callback, but in a pipeline it's not able to find the cached directory. It seems like it doesn't exist...

[code]

Logs the following, in the onPreBuild callback:

[2020-01-11 19:43] jlengstorf commented on #2
hmm... something may have changed upstream in the buildbot

I'll take a look at this next week and figure out what’s going on here — thanks!

[2020-02-06 20:11] ehmicky commented on #2
The bug is due to https://github.com/netlify/build/issues/732, which is currently being reviewed.

[2020-02-07 19:35] ehmicky commented on #2
This should be fixed now by https://github.com/netlify/build/pull/739.

[2020-02-07 23:41] rickyPanzer commented on #2
I'm still facing the issue, even when using @jlengstorf 's new PR

[code]

[2020-02-08 02:19] jlengstorf commented on #2
@ehmicky I'm still seeing the problem, too 😕

- successful build, claims to store a cache: https://app.netlify.com/sites/mystifying-keller-8fae8d/deploys/5e3db8f6d1540d0008671137
- next build, doesn’t find a cache: https://app.netlify.com/sites/learnwithjason/deploys/5e3e1a068f39b10008bc6807

[2020-02-12 18:09] jlengstorf commented on #2
this _should_ be fixed by #3 — if you install `@latest` and run a new build with a cleared cache, subsequent builds should work with the cache

if that _doesn't_ work, we found that disconnecting/reconnecting the GitHub repo fixed it on one site that was being weird

[2020-02-12 18:09] #2 closed

[2020-02-26 04:48] rickyPanzer commented on #2
Hey @jlengstorf, I was able to get this working on one of my branches, but then when rebasing another branch on those commits, it was not working on that branch in particular, nor has it worked on the common dev branch, once merged.

Is the caching branch specific? I have yet to understand the lack of consistency of the cache that is downloading from netlify

[2020-03-05 17:36] jlengstorf commented on #2
@rickyPanzer it definitely shouldn't be branch-specific — @ehmicky any ideas on what could be causing this or how to debug it?

[2020-03-05 17:37] jlengstorf commented on #2
@rickyPanzer could you send over a build log? we can reopen this issue if we have a reproduction

thanks!

[2020-03-23 18:35] jasonLaster opened #6 "beta link 404s"
It looks like the beta link on the readme 404s

https://docs.netlify.com/configure-builds/plugins/?utm_source=github&utm_medium=netlify-plugin-gatsby-cache-jl&utm_campaign=devex

[2020-03-23 18:39] jasonLaster commented on #6
Is this the link you're looking for?

https://www.netlify.com/build/plugins-beta/

[2020-03-24 00:34] jlengstorf commented on #6
great question — @verythorough did this page move, or is it gone?

[2020-03-24 00:45] verythorough commented on #6
We had expected that docs page to be published the day after I made the PR that added that updated the link. But our plans got delayed a bit. 🙈  They should be up by tomorrow, though!

[2020-03-24 00:46] jlengstorf commented on #6
ah, okay — thanks!

[2020-03-24 00:48] verythorough commented on #6
Alternatively, you _could_ use that other link: https://www.netlify.com/build/plugins-beta/

That'll also be updated soon so that the private beta form link will point to the docs page instead. Up to you which you'd prefer. :)

[2020-03-24 00:51] verythorough commented on #6
Actually, I'm just going to put a quick redirect on the docs site for now.

[2020-03-28 01:23] moop-moop opened #7 "TypeError: Cannot read property 'build' of undefined​"
Trying out the plugin on Netlify. Not sure if I am missing something simple or something else deeper going on here.

8:17:35 PM: Build ready to start
8:17:37 PM: build-image version: 2dbd444fcdce00cf06325060a8238d5ae3e86774
8:17:37 PM: build-image tag: v3.3.7
8:17:37 PM: buildbot version: 10926ec3478dd6c0bfc84e15d24de329bb1b357f
8:17:37 PM: Fetching cached dependencies
8:17:37 PM: Starting to down

[2020-03-28 03:40] jlengstorf commented on #7
hey — this definitely doesn't look right

@ehmicky is this coming from the cache utils? it appears to be happening outside of the plugin

[2020-03-28 03:42] jlengstorf commented on #6
this link works now, so I'm going to close this — @verythorough let me know if we need to update anything!

[2020-03-28 03:42] #6 closed

[2020-03-28 03:51] moop-moop commented on #7
I think I was mistakenly using an older version of the plugin.
I’ve updated and will confirm.

[2020-03-28 03:58] moop-moop commented on #7
My error. Using netlify-plugin-gatsby-cache@0.2.1 versus netlify-plugin-gatsby-cache@0.1.2 fixed the problem.

[2020-03-28 03:58] #7 closed

[2020-03-28 15:39] jlengstorf commented on #7
ah, great that it's working! thanks for following up!

[2020-03-30 15:01] ehmicky opened #8 "Issue when caching the whole repository"
This plugin caches `PUBLISH_DIR` (renamed from `BUILD_DIR`) which is the "Publish directory" set in the UI or in the configuration file (`build.publish`). When unset, this defaults to the "build directory", which is (in most cases) the repository root directory.

However caching (and restoring) the whole repository has several issues:
  - It caches many directories that are not related to Gatsby b

[2020-03-30 15:04] ehmicky opened #9 "Should this plugin cache the publish directory?"
This plugin caches `PUBLISH_DIR` (renamed from `BUILD_DIR`) which is the "Publish directory" set in the UI or in the configuration file (`build.publish`).

This issue is just to confirm that this is the intended behavior, i.e. that within Netlify, Gatsby always uses that publish directory to build files. Is this the case? Thanks!

[2020-03-30 15:07] ehmicky opened #10 "Issue caching the `.cache` directory"
At the moment, this plugin caches `PUBLISH_DIR/../.cache` (`PUBLISH_DIR` was previously called `BUILD_DIR`). However when no "Publish directory" is set by the user, it defaults to the repository root directory.

This means the `{repositoryRoot}/../.cache` ends up being cached, which is probably not intended?

[2020-03-30 15:39] jlengstorf commented on #8
how does a Gatsby site publish properly if the directory isn't set to `public`? wouldn't that fail?

Gatsby doesn't let you change the name of `public`, so we could do something like

[code]

but I'm confused how a site would deploy at all without specifying where the files to deploy are?

[2020-03-30 15:40] jlengstorf commented on #9
Gatsby always uses `public` — that's hard-coded into the build process

[2020-03-30 15:40] #9 closed

[2020-03-30 15:40] jlengstorf commented on #10
if we fix #8 this will be resolved automatically — Gatsby _always_ puts `public` and `.cache` next to each other

[2020-03-30 16:33] ehmicky commented on #8
When no "Publish directory" is specified, Netlify (with or without the Netlify Build beta) defaults to the "build directory" which (in most cases) is the repository root directory.

I am not sure whether our infrastructure defaults the "Publish directory" to `publish` when we detect Gatsby is used, I am going to check on this.

About Gatsby:
  - Can you confirm the build directory is always called

[2020-03-30 19:33] jlengstorf commented on #8
- the build directory is always called `public`
- the `public` directory is always at the root of the site, but that can be in a monorepo (e.g. at root, or at `packages/site/` or whatever)
- we have to cache both `public` and `.cache`

[2020-03-30 19:46] ehmicky commented on #8
Thanks @jlengstorf!

Monorepos are supported through the use of the "Base directory" UI setting (or `build.base` in `netlify.toml`). Then this is set, the plugin's current directory will be `packages/site/` (for example).  Otherwise the repository root will be the plugin's current directory.

I.e. to fix this issue, we should cache `./public` and `./.cache`.

[2020-03-30 20:05] ehmicky commented on #8
Edit: `PUBLISH_DIR` should actually work providing it is correctly set. If not correctly set, deploys will fail, so we decided to still use that constant, which means the current value is correct.

I.e. the problem is not coming from the question described above. I am doing more investigating now.

[2020-03-30 20:11] ehmicky commented on #10
This turned out not to be an issue (see #8).

[2020-03-30 20:11] #10 closed

[2020-04-01 13:57] ehmicky commented on #8
After investigating, it seems that everything is good with `netlify-plugin-gatsby-cache` :+1:

More details [here](https://github.com/netlify/build/issues/1069).

[2020-04-01 13:57] #8 closed

[2020-04-12 07:39] janosh commented on #8
@ehmicky I think there actually _is_ something to be fixed here. Just adding

[code]

to my `netlify.toml`, I get this error:

[code]

So I tried adding

[code]

and now it works. So regarding your question

I think `./public` and `./.cache` would be good defaults.

[2020-04-13 01:15] jlengstorf commented on #8
@janosh I don't think the site can deploy unless `publish` is set to `public`, though, right? because otherwise you'd be deploying all the source files? let me know if your setup was different

[2020-04-13 04:47] janosh commented on #8
You can set the publish directory either from Netlify's deploy settings UI or via `netlify.toml`. I had been using the former which, I think, this plugin can't easily access.

[2020-04-13 11:25] ehmicky commented on #8
Yes @jlengstorf is correct. `netlify-plugin-gatsby-cache` assumes that the publish directory is set to `public`.

This is done automatically by Netlify using deploy settings UI when you start a new Site and Gatsby is detected. It can also be done manually using `build.publish` in your `netlify.toml` as you mention @janosh.

Build plugins do have access to the publish directory using `constants.PUB

[2020-04-13 12:31] ehmicky opened #13 "Some users report performance issues"
Some users report that this Build plugin makes builds slower instead of faster.

I personally have not encountered this issue: this plugin makes my builds faster. Reasons why builds might be slower could include though:
  - writing/reading and upload/downloading the cached `public` and `.cache` directories takes more time than it saves
  - a bug in `utils.cache`

To be able to fix this problem, I

[2020-04-13 15:23] dsoaress commented on #13
Hi @ehmicky, I do.

[With Netlify Build and netlify-plugin-gatsby-cache](https://app.netlify.com/sites/diego-haymann/deploys/5e932f813be1380007f10b11).

[Only with Netlify Build](https://app.netlify.com/sites/diego-haymann/deploys/5e9352b0e8566e00069bcf01).

[Without Netlify Build](https://app.netlify.com/sites/diego-haymann/deploys/5e935464abd8cc1cd3285000).

[2020-04-13 15:34] ehmicky commented on #13
Thanks, this helps a lot!

So this is where the performance difference is coming from:
  - When a repository is using a Build plugin that is not in their `package.json`, Netlify automatically installs it. For the deploy above (only one plugin), this adds 1 minute to the build.
  - `yarn install` performed in the beginning of the build takes 51 seconds instead of 1 seconds. This is done inside the

[2020-04-13 15:37] #13 closed

[2020-04-15 19:36] rickyPanzer commented on #2
sorry wanted to follow up on this. This has been working well for me for the past month, great plugin!

[2020-04-21 12:43] Skejven opened #14 "Build fails when using sharp"
Hi @jlengstorf,
I've tried your plugin with my Gatsby site deployed on Netlify today.
I'm using sharp module to optimise images during page generation:
- [gatsby-plugin-sharp](https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/)

Part of my `package.json` (unfortunately the project is not public and I can't share the codebase):
[code]

The Netlify build failed after I applied the plugin (accord

[2020-04-22 15:35] jlengstorf commented on #14
hey, @Skejven

the error looks like a corrupted node_modules build, so I _think_ you may be able to fix it with a "Clear Cache & Deploy"

if that doesn't clear it up, try a `yarn upgrade`, which will change your lockfile and trigger Netlify to build the latest versions of the dependencies

let me know if that doesn't fix it!

[2020-04-23 04:31] davidosomething opened #16 "specify alternate cache location"
The typical build cache location (/.cache) is not in the publish location (/public)
https://www.gatsbyjs.org/docs/gatsby-project-structure/

how might one configure this?

[2020-04-23 06:12] Skejven commented on #14
Thank you @jlengstorf ,
`yarn upgrade` fixed my problem (rebuilding with cleared cache didn't).

[2020-04-23 15:52] 50bbx opened #17 "Does this plugin work with yarn workspaces monorepos?"
I have a monorepo managed with Lerna and yarn with a package that is my frontend (which uses Gatbsy) and another that is my CMS (Sanity Studio) both deployed on Netlify.

Here's my `lerna.json` just for reference

[code]

I tried to think about where should I put my `netlify.toml` which I didn't need until now.

Do you have any suggestions on where I should put my `frontend` `netlify.toml`?

[2020-04-23 21:23] Vacilando opened #18 "How does this compare to Gatsby incremental builds?"
Hi, how does this plugin compare to Gatsby's new incremental builds? See https://www.gatsbyjs.org/blog/2020-04-22-announcing-incremental-builds/

Are they trying to achieve the same and are exclusive of each other, or do they complement each other?

[2020-04-23 22:43] jlengstorf commented on #18
this is a part of incremental builds

your timing is perfect, actually, because I just wrote a post showing [how to enable Gatsby incremental builds on Netlify](https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds-on-netlify/?utm_source=github&utm_medium=gatsby-inc-builds-jl&utm_campaign=devex)!

this plugin keeps the `public` and `.cache` folders around between builds, which G

[2020-04-23 22:43] #18 closed

[2020-04-23 22:45] jlengstorf commented on #17
@50bbx I use this plugin with a monorepo for [learnwithjason.dev](https://learnwithjason.dev)!

I have the `netlify.toml` in the root and tell it to run commands from inside the site package: https://github.com/jlengstorf/learnwithjason.dev/blob/master/netlify.toml

I haven't worked with Lerna much, but it should be possible for sure!

[2020-04-23 22:46] jlengstorf commented on #14
great to hear! thanks for following up!

[2020-04-23 22:46] #14 closed

[2020-04-23 22:47] jlengstorf commented on #16
@davidosomething this isn't something Gatsby allows to be configured, and you don't need to publish `.cache` — it's a build artifact, but not used on the built site

can you say a little more about what you're trying to accomplish? thanks!

[2020-04-24 00:04] davidosomething commented on #16
sorry the issue was this:
i had the publish directory set in netlify via web:
![image](https://user-images.githubusercontent.com/609213/80161177-866ef600-859d-11ea-9219-bbbc62f0aae3.png)

but not in my `netlify.toml`. it MUST be in netlify.toml

[code]

to correctly receive the correct PUBLISH_DIR env var

[2020-04-24 00:11] #16 closed

[2020-04-24 01:16] jlengstorf commented on #16
ah, great — this is a good note

thanks for following up!

[2020-04-24 12:36] slorber commented on #17
hi

I also tried this plugin in a monorepo, and it seems to work fine, as it caches assets relative to the publish dir, it's able to understand  it should cache a workspace package .cache and /public

However I have a problem with monorepo and this plugin. It's not totally related to this plugin though but more about monorepo support in netlify. How to handle a monorepo where you have like, 2 site

[2020-04-24 12:48] slorber opened #20 "Make it generic?"
Hi,

I'm trying to replace https://github.com/axe312ger/gatsby-plugin-netlify-cache with this plugin, but the gatsby plugin is more "generic" as it permits me to pass folders to cache as inputs.

Unfortunately, for my gatsby sites, we have a lot of images, and we did not choose to use Git LFS to handle them. Instead we sync images from S3 into a subfolder before building gatsby.

So I need to cach

[2020-04-25 00:36] jlengstorf commented on #17
@slorber that's a great question — at the moment I don't think there's a way to selectively apply build plugins in monorepos

@ehmicky will know more than I do here, though, so let me tag him in for comment

[2020-04-25 00:42] jlengstorf commented on #20
a generic build plugin is definitely possible! we introduced generic caching utils with the build plugins beta, so you could put together either a specific plugin to cache your images or a generic plugin that would operate on any configured directory

this plugin is scoped _just_ to Gatsby’s generated files in the interest of zero-config installation

if you want to build a custom plugin, we'd lov

[2020-04-25 00:42] #20 closed

[2020-04-27 14:47] ehmicky commented on #17
@slorber My intuition would be [set a different base directory](https://docs.netlify.com/configure-builds/common-configurations/#monorepos) (matching the workspace directory) for each Netlify Site and have a different `netlify.toml` in each of them.

However, if I understood correctly, it seems like this configuration might not work for you based on your comment:

Could you please elaborate on thi

[2020-04-27 15:38] 50bbx commented on #17
The problem is exactly that: with yarn workspaces, there is not a `yarn.lock` in each base directory. There is just one `yarn.lock` in the root directory.

[2020-04-27 15:39] jlengstorf commented on #17
you can create an empty yarn.lock in the directories that need to build — it won't cause issues with the monorepo, which will ignore it, and Netlify uses the presence of the lockfile to determine with package manager to use

it's kinda hacky, but it will work

[2020-04-27 17:22] ehmicky commented on #17
@50bbx Does the workaround suggested by @jlengstorf works for your use case?

It seems to me this is a more general issue about Yarn workspaces support inside Netlify, beyond this plugin or the Build plugins beta. Therefore I have opened [the following issue](https://github.com/netlify/build-image/issues/399) to make sure our backend team is involved in improving this use case.

If that issue is c

[2020-04-28 20:35] sidyes commented on #17
I got a similar issue using a `lerna` (without yarn) monorepo.
For deploying I am using a custom script that calls the following commands:
1. `lerna bootstrap`
2. `npm run build`

My project under `projects/appA` has dependency in its package.json called `shared-components: "file:../shared-components"` which means that I got another project called `shared-components` within the projects folder. Th

[2020-04-29 06:36] ffdead opened #22 "Cache always empty on Deploy Preview builds"
Hi! Big thanks for this plugin - it's helping to bring down the build time on our `develop` branch significantly.

However, on Deploy Preview builds the cache seems to always be empty - even on repeat builds. Is this a know limitation of the plugin?

We were able to remove the re-install overhead of the plugin by following the steps in https://github.com/netlify/build/issues/1134 - but the `yarn`

[2020-04-29 15:34] jlengstorf commented on #22
I'm not 100% sure; I would expect that a deploy preview would use the cache, but there's a possibility that this is done to prevent conflicts since the branches won't match

cc @ehmicky — is this intended, or should I file a buildbot bug?

[2020-04-29 15:43] ehmicky commented on #22
I think I've heard there were some reasons why deploy preview caches are sometimes empty, partially intended, but also partially due to existing issues. I would suggest asking the buildbot team.

[2020-04-29 19:46] ehmicky opened #23 "Wrong `PUBLISH_DIR`"
Many [production builds are reporting](https://app.bugsnag.com/netlify/netlify-build/errors/5ea9b573e01a460018eb80da) the following error:

[code]

This comes from [this line of code](https://github.com/netlify/build/blob/8fe2d07d5e5a6dbfa6a8f6d47ec3403675db040a/packages/cache-utils/src/path.js#L32) in `utils.cache.restore()`.

This is turn indicates that either `PUBLISH_DIR` or `PUBLISH_DIR/../.c

[2020-04-29 21:45] jlengstorf commented on #23
@ehmicky is there a variable for the base dir? we could do something like
[code]

[2020-04-30 12:28] ehmicky commented on #23
The build directory is `process.cwd()` inside Build plugins.

The error message above is actually doing something similar but inside the `utils.cache` directly.

[2020-05-01 17:09] slorber opened #24 "public.netlify.cache.json not found when clearing cache"
If I clear the cache, first run lead to this error. On retry it works fine.

![image](https://user-images.githubusercontent.com/749374/80824673-39170800-8bdf-11ea-9dfe-0ddc3028d0d2.png)

[2020-05-01 17:09] slorber commented on #24
cc @ehmicky I guess :)

[2020-05-02 11:13] guybowden opened #25 "How does this interact with gatsby-plugin-netlify-cache?"
I currently use this plugin on my site -
https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cache/

It appears to do the same thing on paper - does this plugin differ somehow?

[2020-05-02 23:58] jlengstorf commented on #25
they're more or less equivalent — this one uses Netlify's infrastructure and has fewer moving parts, so it's what I use and recommend, but I don't know that you need to change over if your setup is already working

if you're curious to see impact on build times, it could be interesting to test

I'm going to close this, but feel free to follow up with any additional questions!

[2020-05-02 23:58] #25 closed

[2020-05-04 14:19] slorber commented on #25
The gatsby cache plugin is broken due to gatsby jobs v2 api. This plugin works better now, as it restores file way before in the lifecycle.

See https://github.com/axe312ger/gatsby-plugin-netlify-cache/issues/25#issuecomment-623491562

[2020-05-04 14:21] slorber commented on #20
Thanks @jlengstorf

Not sure it's worth to make a generic plugin myself if it's not something officially supported. I've just used patch-package for now to add my extra folder.

Would you accept a PR to this plugin allowing to pass an extra folder as toml input?

[2020-05-04 15:45] jlengstorf commented on #20
@slorber I'd prefer not to expand the responsibility of this plugin; your use case doesn't sound like a Gatsby caching concern, but rather a "something custom built on top of Gatsby" concern. that’s a perfectly valid thing to do, but I want to be _extremely_ mindful of scope creep in this plugin because I have precious few hours and probably won't be able to keep up with issues related to custom d

[2020-05-04 16:03] slorber commented on #20
Sure, my point is not to discuss if it's possible and how, but rather if I should invest my time on creating an extra package that nobody would use except me, or send a PR that won't be merged :)

I'm fine with patch-package for my usecase for now

[2020-05-05 07:58] guybowden opened #26 "Build failures"
I'm not sure if this is a Gatsby issue, a netlify build issue, or this plugin, but I'm now seeing errors like this on cache enabled builds:

I have tried it without this plugin and it works fine. I've also tried it without netlify builds beta enabled and it works fine.

Local builds with and without `.cache` also work fine.

[code]

Relevant gatsby deps:
[code]

## Full build log below
[code]

[2020-05-05 22:25] jlengstorf commented on #26
hmm — at first blush this looks like Gatsby got out of sync with itself somehow

if this were my site, I would:

1. run `npm outdated` to see if there are any packages that need updates
2. run `npm update` to bump them to latest
3. if that doesn't fix it, use the "clear cache and deploy" option on Netlify
4. make sure that it doesn’t happen again on repeat builds

if that doesn't work, let me know

[2020-05-12 19:40] ffdead commented on #22
Related? https://github.com/netlify/build/issues/1225

[2020-05-13 21:57] jlengstorf commented on #22
yeah, that's related for sure. I was able to duplicate on a non-Gatsby site as well, so something’s going on for sure

[2020-05-19 03:45] keeko20 commented on #22
Hi,
This is also happening to me it keeps showing on Netlify build console "No Gatsby cache found. Building fresh."

the build times pretty much the same with or without build plugin.

Any advice? thank you

[2020-05-20 08:12] ffdead commented on #22
FYI The cache seems to work on Deploy previews for us as of yesterday. no change on our end.

[2020-05-23 10:06] robinmetral commented on #25
For whoever stumbles here and is interested: I've tested both approaches and while `gatsby-plugin-netlify-cache` brought my build time from 15min down to 10-12min, (tested prior to the Jobs v2 API, see comment above ☝️), this Netlify plugin brings the builds down to about 5min. Thank you @jlengstorf!

[2020-05-26 23:59] stuut opened #28 "Deploy failed due to an error in netlify-plugin-gatsby-cache plugin"
9:27:43 AM: │ Plugin "netlify-plugin-gatsby-cache" internal error │
9:27:43 AM: └─────────────────────────────────────────────────────┘
9:27:43 AM: ​
9:27:43 AM:   Error message
9:27:43 AM:   Error: This plugin is missing a "manifest.yml".
9:27:43 AM:   Please see the documentation at https://github.com/netlify/build#anatomy-of-a-plugin
9:27:43 AM: ​
9:27:43 AM:   Plugin details
9:27:43 AM:   Pack

[2020-05-27 07:01] ffdead commented on #28
This is breaking our build too 🙀

[2020-05-27 07:07] jamie-endeavour commented on #28
Just witnessed this one myself this morning. I've temporarily disabled build plugins for the project in question.

[2020-05-27 08:32] romainbessugesmeusy commented on #28
Breaking here too

[2020-05-27 11:00] jondujaka commented on #28
Could it be related to ?
https://github.com/netlify/build/issues/1068
https://github.com/netlify/plugins/pull/45

[2020-05-27 13:32] jlengstorf commented on #28
hey, everyone — can you please make sure you've updated to the latest version? 0.2.2 and 0.3.0 should be working as expected, so please let me know if it's still failing after you upgrade!

[2020-05-27 14:27] jamie-endeavour commented on #28
That worked for me! Thanks @jlengstorf

[2020-05-27 19:12] pierrenel commented on #28
@hitchcott ah, you have to go back into the plugins section on the Netlify website and hit install again, that sorted it out for me.

[2020-05-28 07:53] hitchcott commented on #28
I removed and reinstalled the plugin in the netlify panel but that doesn't seem to fix it for new PR previews.

I'm having to manually clear the cache for each build right now.

[2020-05-28 11:54] hiphotels commented on #28
How do you to specify the plugin version in the netlify.toml file?

This is the content of my netlify.toml file.
[code]

Netlify automatically install version 0.2.1
[code]

[2020-05-28 12:13] hiphotels commented on #28
Please disregard my previous message.
I've solved this on Netlify clicking on Clear cache and redeploy site.

![screenshot](https://imgur.com/ZbQbVjN)

No need to specify a version on the netlify.toml file.

[2020-05-28 16:19] jlengstorf commented on #28
is anyone still experiencing this issue after a "clear cache and deploy"?

we moved to stable release yesterday, which meant a lot of plugins got updated all at once — I _think_ the issue is now solved and this plugin will Just Work™, but please let me know if not!

I'm going to close for now, but add a comment if you hit this problem and we can reopen if necessary

[2020-05-28 16:19] #28 closed

[2020-05-31 23:52] MZOG opened #29 "This plugin is missing a "manifest.yml""
Hi,

I am getting this error when I try to deploy.

![Netlify issue](https://www.datocms-assets.com/26663/1590969068-dtb-2020-06-01-at-00-50-57.png?auto=format&ar=759%3A628&fit=max&ixlib=react-9.0.1&w=1074)

Does anyone had this before?
About 20 days ago everything was ok.

[2020-06-01 01:31] KarlRombauts commented on #29
I am experiencing the same issue.

Everything seemed to be working on May 25th, and then the next build on May 27th failed due to a plugin error.

![image](https://user-images.githubusercontent.com/24811150/83367721-4e0ed300-a3f9-11ea-8be9-c03736bd3bb5.png)

My error message in the build log looks identical to yours.

After some digging, I found that 7 days ago Netlify has required manifest.yml fi

[2020-06-01 02:05] KarlRombauts commented on #29
Interestingly, when I cleared my Netlify cache and tried rebuilding, everything went smoothly.

![image](https://user-images.githubusercontent.com/24811150/83369271-23277d80-a3ff-11ea-83d9-3598ef6389ef.png)

But then I tried building again, now that the cache had been populated, Netlify threw the same error again.
![image](https://user-images.githubusercontent.com/24811150/83369347-5f5ade00-a3ff-1

[2020-06-01 15:54] jlengstorf commented on #29
hey, everyone! thanks for reporting this!

this issue is due to Netlify using the cached version of the plugin, which was missing a manifest prior to `v0.2.2`

the appropriate fix is to run a "clear cache and deploy" on Netlify, which will pull the latest version of the plugin

I'll look into a fix on the Netlify side to see if we can auto-retry for plugins with new versions or something — will re

[2020-06-01 15:54] #29 closed

[2020-06-02 13:18] shreyansh-zazz opened #30 "build failing"
Following is the error I am getting while deploying with this plugin. I have added this plugin in `netlify.toml`

![image](https://user-images.githubusercontent.com/21006490/83524723-9f09ee80-a501-11ea-8765-df04e3b404ef.png)

[2020-06-02 19:49] jlengstorf commented on #30
try running a "clear cache & deploy" — the latest version has the manifest and should work

see https://github.com/jlengstorf/netlify-plugin-gatsby-cache/issues/29 for details

thanks!

[2020-06-02 19:49] #30 closed

[2020-06-02 19:50] jlengstorf commented on #26
I haven't seen any additional reports of this failure, and my sites are building properly, so I'm going to close this. please let me know if you're still hitting this issue!

[2020-06-02 19:50] #26 closed

[2020-06-02 19:50] jlengstorf commented on #24
this _should_ be fixed in the latest version. I'm going to close this, but please let me know if you're still seeing it

[2020-06-02 19:50] #24 closed

[2020-06-02 19:51] jlengstorf commented on #23
this was fixed a while back and I forgot to close this

[2020-06-02 19:51] #23 closed

[2020-06-02 19:54] jlengstorf commented on #17
this issue is beyond the scope of this plugin. I'll be following https://github.com/netlify/build-image/issues/399 and we'll verify upstream fixes once they're merged

[2020-06-02 21:31] ehmicky commented on #23
Thanks for updating @jlengstorf. The error has not been triggered in one month indeed :+1:

[2020-06-02 21:36] ehmicky commented on #24
The error seems to be still happening, but this is a problem with the `cache` utility, so I open the following issue to track it: https://github.com/netlify/build/issues/1411

[2020-06-03 16:50] shreyansh-zazz commented on #30
Yes, I upgraded the version and it worked.

[2020-06-08 21:03] jlengstorf commented on #20
looks like a generic plugin was created! https://github.com/netlify/plugins/pull/83

[2020-06-09 10:01] erezrokah commented on #17
Hi @sidyes looks like the correct way to reference local dependencies in `lerna` when not using `yarn` is to reference it via the version, e.g. `"shared-components": "^1.0.0"`.
See relevant `lerna` open issue https://github.com/lerna/lerna/issues/2352

I was able to set up this plugin successfully in this repo https://github.com/erezrokah/gatsby-lerna-repo with `lerna` (without yarn).

[2020-06-10 13:04] PetroPavlenko opened #31 "auto-delete old cache or store /public/static instead of all public"
This is close to  [other repo issue](https://github.com/axe312ger/gatsby-plugin-netlify-cache/issues/20)
But when I tried to delete page(build it locally or in netlify). I couldn't.
There was nothing about that in sitemap. But it was in `public/page-data`.

So, please use `public/static` instead of `public` folder

[2020-06-10 22:41] #31 closed, assigned to nobody

[2020-06-11 11:54] PetroPavlenko opened #32 "update docs to propose GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES=true"
## Reason
without GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES=true build doesn't delete old pages

[2020-06-16 06:30] polarathene commented on #18
Is there a breakdown of what is required to achieve this functionality in a self-hosted manner?

So far I'm only aware of:

- This caching step (which I thought was a common optimization with CI services? I've done such with Travis for example).
- Distributed builds via a job-scheduler/work-queue [as described here](https://www.netlify.com/blog/2020/02/25/gatsby-build-speed-improvements-with-paral

[2020-06-16 20:17] jlengstorf commented on #18
@polarathene Gatsby hasn't really explained what happens (which makes sense, since they're positioning it as their product/competitive advantage and not part of the open source tool), so it's hard to do anything other than speculate right now

for any concrete breakdown, the Gatsby team would need to comment

[2020-06-18 21:10] ehmicky opened #33 "Improve error message when the `publish` directory is invalid"
A common error seems to be for users that forgot to set a `publish` directory.

Should this be validated, in order to provide a better error message?

That situation can be detected by checking:

[code]

[2020-06-22 18:36] #33 closed

[2020-06-25 12:20] rudotriton opened #35 "Post links not updated"
Hey,

I recently enabled this plugin on a Gatsby blog that I maintain. However, I was recently informed that blog posts don't show a link at the bottom of the page to newer posts anymore. If a new post is published this would link to the previous post and the previous post should update to include a link to the newest one, which it doesn't.

Is there something for cases like these, or does the pre

[2020-06-25 16:42] saillin opened #36 "Plugin "netlify-plugin-gatsby-cache" internal error"
`11:39:38 PM：构建准备开始
11:39:40 PM：构建映像版本：3031d4c9e432fd7016f6279fc9ad706f9205d845
11:39:40 PM：构建图像标记：v3.3.17
11:39:40 PM：buildbot版本：1f35b3abd6e2bf5230d8edf68072840fdec1513f
11:39:40 PM：获取缓存的依赖项
11:39:40 PM：开始下载24.2MB的缓存
11:39:40 PM：225.743114ms完成下载缓存
11:39:40 PM：开始提取缓存
11:39:40 PM：在265.676305ms中完成提取缓存
11:39:40 PM：499.480418ms完成获取缓存
11:39:40 PM：开始准备构建仓库
11:39:41 PM：准备Git参考refs / heads / master
11:39:

[2020-06-26 17:45] jlengstorf commented on #35
@rudotriton this plugin doesn't affect how Gatsby builds; it only keeps the cache around the same way it persists for local builds

does this happen on your local builds with `gatsby build`?

[2020-06-26 17:48] jlengstorf commented on #36
please make sure your `publish` directory is set to `public` — Gatsby requires the `public` directory to be set or the site won't be published properly

[2020-06-26 17:48] #36 closed

[2020-06-27 14:17] rudotriton commented on #35
You are right, it's a `gatsby build` peculiarity. I've never built it locally so I wasn't aware it would act this way when a cache is present.

[2020-06-27 14:17] #35 closed

[2020-06-30 14:37] probablyup commented on #31
I think there is a problem here though with the caching logic. I added this plugin to our Netlify setup and the cache grows at a rate of 0.5GB per week with 3-4 developers making a few PRs a day. The old builds don't seem to be pruned correctly.

[2020-06-30 14:37] probablyup commented on #32
Doesn't delete with it either for us

[2020-06-30 21:29] jlengstorf commented on #32
I think this might be an upstream Gatsby issue? if it's not removing old pages from the cache, that can't be fixed in this plugin, and I don't think we should require folks to enable experimental features

it looks like this might be the culprit? https://github.com/gatsbyjs/gatsby/issues/17402

[2020-06-30 21:33] jlengstorf commented on #31
@probablyup it's hard to say without a full analysis, but this sounds like an upstream issue. all this plugin does is move the folders Gatsby creates, so any changes/additions come from Gatsby itself

[2020-07-01 17:01] probablyup commented on #31
@jlengstorf yeah I think you're right, thanks for the explanation

[2020-07-02 05:45] PetroPavlenko commented on #32
yep. We can stay with it

[2020-07-02 05:45] #32 closed

[2020-07-08 01:03] angelo-martinez opened #37 "Build fails when you update NetlifyCMS .md files."
Not sure why this happens but every time i update .md files through the netlifyCMS the build fails. The page is successfully built if I empty the cahce and rebuild. It gave me this error:
`WebpackError: TypeError: Cannot read property 'childImageSharp' of null`
On the page I updated when I tried to access an image.
`headerImage={post.frontmatter.headerImage.childImageSharp.fluid}`
Any ideas why it

[2020-07-08 01:40] jlengstorf commented on #37
@angelo-martinez my first thought is that one of the posts is missing a `headerImage` value in the frontmatter and/or the path passed to `headerImage` doesn't resolve to an image

if that's not the case, this would likely be an upstream bug in Gatsby, because all this plugin does is move Gatsby-generated folders around

[2020-07-11 21:27] calebfaruki opened #38 "Multiple Netlify CI builds fail"
When pushing new changes to my deploy preview branch with incremental builds enabled, there are issues with the GatsbyJS graphQL static queries that does not happen when testing the production build locally.

I've confirmed that this issue does not happen when I clear the cache and redeploy from the deployment UI.

https://app.netlify.com/sites/leatherspa/deploys/5f0a288c08760800082f6c81
https://a

[2020-07-14 01:32] jlengstorf commented on #38
@ehmicky do you any insight into what might be happening here?

[2020-07-14 10:24] ehmicky commented on #38
I am not quite sure, but I am wondering whether this might not be related to this plugin.
@calebfaruki If you remove this plugin, is your build succeeding?

[2020-07-14 12:41] sameersegal opened #39 "It's caching an older version of the image if it has the same name"
The repo shows an updated file with the same name but what get's deployed is the older version.

[2020-07-14 15:37] jlengstorf commented on #39
hey there — if you disable this plugin, does it still happen? have you loaded the site with caching disabled to makes sure it's pulling the latest version?

[2020-07-14 15:40] sameersegal commented on #39
Yes, when I disable the plugin it gets deployed correctly. However, when I
re-enable the plugin it, I guess, used the old cache to deploy the older
version.

Finally, I changed the name of the file to ensure it works correctly.

On Tue, Jul 14, 2020 at 9:07 PM Jason Lengstorf <notifications@github.com>
wrote:

[2020-07-15 20:58] jlengstorf commented on #39
I'll see if I can reproduce this. thanks!

[2020-07-18 15:23] sameersegal commented on #39
Hey, any luck with this?

Also, I saw another interesting behavior with the plugin enabled:

Build one has a page /old-route
Deployed Successfully
Change /old-route to /new-route
Build and Deploy successfully

On the live site both /old-route and /new-route work.

[2020-07-21 00:42] jlengstorf commented on #39
@sameersegal have you tried that locally to make sure it's not a Gatsby behavior? I'm not sure Gatsby does garbage collection, so you may have to clear the cache to get rid of old pages

[2020-07-25 18:42] badiuoanaalexandra opened #40 "Error in netlify build after enabling plugin"
/opt/build/repo/node_modules/yoga-layout-prebuilt/yoga-layout/build/Release/nbind.js:53
 throw ex;
 ^
Error: Callback was already called.
at throwError (/opt/build/repo/node_modules/neo-async/async.js:16:11)
at /opt/build/repo/node_modules/neo-async/async.js:2818:7
at processTicksAndRejections (internal/process/task_queues.js:79:11)
<img width="1132" alt="Screenshot 2020-07-25 at 21 40 55" src="ht

[2020-07-28 00:03] jlengstorf commented on #40
hi, @badiuoanaalexandra — does the build succeed if you disable the plugin? the error shown here is from code that's not part of this plugin, which makes me wonder if something has happened with Gatsby itself or this `yoga-layout-prebuilt` module

[2020-07-28 05:32] badiuoanaalexandra commented on #40
Hi! Yes, build is successful when disabling the plugin.

[2020-07-28 21:03] jlengstorf commented on #40
@badiuoanaalexandra could you please share the links to the Netlify build logs for the failing build with the plugin and the passing build with it uninstalled? we'll have to look a little deeper to figure out what's going on here

thanks!

[2020-08-01 18:01] badiuoanaalexandra commented on #40
Actually after enabling it again it started to work without problems. I haven't changed any libraries in my code or anything like that, so don't know why it wasn't working previously.

Here are the links with the builds from that day that have failed, however since it's now working I can mark this as solved.
https://app.netlify.com/sites/upbeat-joliot-da042e/deploys/5f1c7bc0b5e249af3b753b51
https:

[2020-08-01 18:02] #40 closed

[2020-08-01 19:32] jlengstorf commented on #40
thanks for the follow-up! if you spot anything else, please let us know!

[2020-08-03 19:45] Mario8419 commented on #37
@jlengstorf Same problems here. without the plugin all's working pretty fine. with plugin on -> direct netlify-cms updates -> error. pulling commit and repushing solving the error...this error was driving me crazy until I realized that it's coming from the cache plugin unfortunately.

8:11:01 PM: Build ready to start
8:11:03 PM: build-image version: ca811f47d4c1cbd1812d1eb6ecb0c977e86d1a1d
8:11:03

[2020-08-04 01:59] jlengstorf commented on #37
@Mario8419 this plugin doesn't touch your images, so I’m hesitant to attribute a sharp error to this plugin. I’d recommend logging out the images before using them:

[code]

my guess is that one of these is going to log null, undefined, or an error on your local builds, which would cause the error you're seeing above

can you please give that a shot and let me know what you find?

thanks!

[2020-08-04 07:19] Mario8419 commented on #37
hey @jlengstorf , thx for your fast response. I've tried again, after uninstalling the plugin again all is working pretty fine, locally and also with direct blog updates outgoing from netlify-cms. After your message I reinstalled the plugin again, made an blog entry and got the same error. pulling the commit and logging the image -> locally all is working fine and the image isn't missing and prope

[2020-08-04 16:21] jlengstorf commented on #37
@Mario8419 is the source online? I can try to replicate

[2020-08-04 17:19] Mario8419 commented on #37
yes, but my customer just started to create content within the next view days. without the plugin activated....after that I will let you know. thx

[2020-08-31 05:00] SilencerWeb opened #41 "Getting fail almost on every build without cleaning the cache on Netlify"
Not sure which plugin causes this error so I hope you'll help to find out 🙂

I suppose either this plugin or [gatsby-source-wordpress-experimental](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental) causes this error

I get such error almost every time when the site is being built without cleaning the cache on Netlify

![image](https://user-images.githubusercontent.com/20713191/9168

[2020-09-01 22:54] jlengstorf commented on #41
@SilencerWeb if you build locally without running `gatsby clean`, do you get this error?

this plugin just moves a folder around, so my hunch is that this is something with the experimental WP plugin, but it's hard to say without seeing more of the error/code

the issue seems to be that the WP plugin is expecting a URL to exist that doesn't. what I don't know is if that URL is cached somewhere tha

[2020-10-02 11:41] lucis opened #42 "Does the UI installing process require any other configuration?"
Hey @jlengstorf, I'm not sure I'm getting the setup instructions correctly.

![image](https://user-images.githubusercontent.com/18706156/94919374-c4e0d900-048a-11eb-831f-c943dbfd2c22.png)

Despite using `If you don’t want to use the UI-based installation`, it later says that `this must be set in your netlify.toml in the [build] section`. I'm not sure if automatically installing it on Netlify UI is

[2020-10-02 14:41] jlengstorf commented on #42
ah, yep — these instructions are intended only if you're _not_ using the UI

this would be a wonderful clarification if you've got the time to contribute! thanks!

[2020-10-09 20:23] Mario8419 commented on #37
hey @jlengstorf , sry for my late response...I now rebuilt the project. here is the link to the public repo: [](https://github.com/Mario8419/m-o). And here is the netlify site link: [](https://heuristic-mestorf-a4275b.netlify.app)

[2020-10-10 01:39] jlengstorf commented on #37
do you have a link to the build that failed? I don't see anything in the code that indicates this would fail, so I think I need more information to dig into it

thanks!

[2020-10-10 05:32] Mario8419 commented on #37
https://app.netlify.com/sites/heuristic-mestorf-a4275b/deploys/5f81429ecc0ed000073eca7f

thx

[2020-10-10 22:39] jlengstorf commented on #37
okay — I was able to reproduce and I have a couple theories:

1. there are several very large images (> 1MB), which is a common source of pain with Gatsby builds
2. a couple images have `.jfif` extensions, which I don't believe are supported and might be causing issues

in all honesty, though, this feels like Gatsby and/or Sharp is doing something weird. the GraphQL query is coming back without an

[2020-10-10 23:10] lucis commented on #42
@jlengstorf #43 ✨

[2020-10-11 07:46] Mario8419 commented on #37
hey @jlengstorf , thx for having a view on it. I just made all images < 1MB, removed all .jfif files and the problem still happening if I creating a new entry in the netlify-cms...As I mentioned at the beginning, new cms-entrys on the netlify cms backend causing this error with your plugin activated. When creating a new entry directly it doesn't cause the error...and with the plugin off - direct c

[2020-10-12 06:52] marcoSven opened #44 "Caching issue Ghost CMS"
Content changes (updating, adding, or deleting), don't show after the first webhook triggered deploy. The changes usually show on the next or following build. Thoughts?

netlify.toml

`[build]
  command = "GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES=true gatsby build --log-pages"
  publish = "demo/public"

[template]
  incoming-hooks = ["Ghost"]

[[plugins]]
  package = "netlify-plugin-gatsby-c

[2020-10-17 22:22] jlengstorf commented on #44
it's hard to know what's causing the issue without more information. if there are service workers in use, they can affect this; I have no idea how the Ghost plugin pulls in data or what's actually missing in the build

if you can share the build log and/or the repo, I can take a look and see if we can spot the issue

thanks!

[2020-10-19 21:27] Mario8419 commented on #37
hey @jlengstorf, fyi, just finished struggling with this bug. the solution is to update gatsby-remark-relative-images from 0.2.3 to 2.0.2

[2020-10-20 14:55] bturner-cfn commented on #42
@jlengstorf, are you suggesting that the cache can break or behave inconsistently if you configure from UI & via project's code?

[2020-10-26 14:45] marcoSven commented on #44
Hi, here are two starter builds both have the same caching issue. Notice dazzling matches the content (/test-post/ - Saucer sugar lemon decaffeinated) of the source, this is because there was one additional deploy after the content change build hook. Here [link](https://lucid-bartik-860c1d.netlify.app/test-post/) I see Saucer **sour** sugar lemon decaffeinated

1. https://github.com/marcoSven/gats

[2020-10-30 19:31] impsdc opened #45 "Working with Strapi as CMS ?"
I was wondering if incremental build was working with strapi as cms. My app is building fine but on data change from strapi nothing happen in log ...

[2020-11-03 23:29] jlengstorf commented on #37
hey, @Mario8419 — dang, that sounds super frustrating. I'm really happy to hear you got it working!

I'm going to close this, but please let me know if you run into anything else!

[2020-11-03 23:29] #37 closed

[2020-11-03 23:30] jlengstorf commented on #42
@bturner-cfn not at all — they'll behave the same way, but only one or the other is required

thanks so much for the PR @lucis!

[2020-11-03 23:30] #42 closed

[2020-11-03 23:34] jlengstorf commented on #44
thanks for your patience! I just checked these sites and there are Service Workers running — this will keep older content cached locally, which means the deployed site may be different than the cached site in your browser. this is a known issue with Service Workers, and the Gatsby Cache plugin won't affect this behavior

however, you can verify this by checking the "bypass for network" box in Chro

[2020-11-03 23:35] jlengstorf commented on #38
I'm going to close this issue since it's been quiet for a while. if anyone else is hitting this bug, please let us know!

[2020-11-03 23:35] #38 closed

[2020-11-03 23:36] jlengstorf commented on #39
I'm going to close this issue since it's been quiet for a while. if anyone else hits this behavior, please feel free to open a new issue or comment on this one!

[2020-11-03 23:36] #39 closed

[2020-11-03 23:37] jlengstorf commented on #41
I'm going to close this issue since it's been quiet for a while. if anyone hits this issue in the future, please open a new issue or comment here!

[2020-11-03 23:37] #41 closed

[2020-11-03 23:42] jlengstorf commented on #45
@impsdc for Strapi data changes to rebuild the site, a webhook is required

Maxime from the Strapi team wrote up a guide on [setting up Netlify build hooks with Strapi](https://www.netlify.com/blog/2020/08/11/deploy-a-strapi-and-react-blog-on-netlify/#automatically-redeploy-to-netlify-when-content-is-changed-in-strapi) that covers the required steps

I'm going to close this, but feel free to hit m

[2020-11-03 23:42] #45 closed

[2020-11-04 02:08] marcoSven commented on #44
https://lucid-bartik-860c1d.netlify.app/ - there is no service worker on this site, which is the site with one content change behind.
https://dazzling-bassi-c3e77e.netlify.app/test-post/ - this one with sw is the one that shows the latest content.

[2020-11-04 21:31] jlengstorf commented on #44
ah, hmm. let me tag @ehmicky on this, because we'll need to dig into these sites to figure out what's going on

[2020-11-05 15:31] erquhart commented on #44
@marcoSven can you try with the Gatsby cache plugin disabled, and if it is still occurring, with experimental builds disabled?

[2020-11-05 16:03] marcoSven commented on #44
@erquhart when I remove netlify-plugin-gatsby-cache the issue is no longer occurring. This [demo](https://ghostwriterdev.bettinalimaco.com/test-post/) installation is currently not running but I tested it previously multiple times.

[2020-11-13 23:07] kaganjd commented on #22
Exciting update: this has been fixed 🎉

Check out our Community post for more details: https://community.netlify.com/t/build-cache-is-now-updated-in-deploy-preview-builds/26344

[2020-11-22 23:46] jlengstorf commented on #22
thanks so much for the update @kaganjd!

[2020-11-22 23:46] #22 closed

[2020-11-30 00:44] EliotSlevin opened #46 "Pages generated with gatsby-node.js stick around after deletion"
Just wanted to report this issue to see if anybody else has had something similar. Haven't yet nailed down exactly _why_ it's happening, but I suspect this plugin may be involved.

I've got a contentful datasource, which generates pages per object, deployed to netlify. I've noticed if I change the name or delete an object - the route is published with the _new_ name, but the old built page sticks

[2020-12-04 21:02] jlengstorf commented on #46
@EliotSlevin have you checked local builds to see if these pages are still present between builds? my suspicion is that Gatsby isn't cleaning deleted pages, so they stick around until you delete them yourself

my reasoning for that assumption is that this page only copies a folder back and forth, so it couldn't affect your actual Gatsby config, but it'll definitely keep anything that Gatsby doesn'

[2020-12-07 22:19] EliotSlevin commented on #46
Hmm. In the local builds I can still see the folders? But they're empty, with no index.html inside them. I'll try do a more in-depth test.

[2020-12-11 02:39] stuut opened #47 "Does not detect change to component on index page"
Does not detect change to component on index page

[2020-12-11 02:53] stuut commented on #47
It will detect change with this
mainPosts: allContentfulPost(
    limit: 5,
    sort: {fields: [publishDate], order: DESC},
    filter: {coverStory: {eq: true},}
    ){
    edges {
      node {
        id
        slug
        title
        categories {
          title
          slug
        }
        image {
          title
          fluid(maxWidth: 1800, maxHeight:1000) {
            ...GatsbyCon

[2020-12-11 17:00] jlengstorf commented on #47
hey there — can you provide a reproduction of this issue? this plugin doesn't affect the build, so my hunch is that something else is going on

[2020-12-14 04:34] stuut commented on #47
sorry i'm not sure how to show you. but just 10 minutes ago I did a build which is using your plugin and the what i would call the more complicated components on the index page didn't update. then when I do a build and clear cache it updates.

this is the build where it didn't update and I can see where is says Updated entries 5 and that is accurate
3:04:27 PM: Build ready to start
3:04:29 PM: bui

[2020-12-14 04:40] stuut commented on #47
sorry I'm probably not being very helpful

[2020-12-14 04:53] stuut commented on #47
I made a copy of the site here https://github.com/stuut/gatsby-cache-issue-goulburn-phoenix

[2020-12-15 17:49] jlengstorf commented on #47
it looks like you've got a Service Worker installed — the next time you see this, can you please clear the Service Worker in the browser and see if that clears it up before you clear the cache and rebuild?

[2020-12-16 00:05] stuut commented on #47
I will do that. Thank you!!!!

[2020-12-16 01:08] jlengstorf commented on #47
of course! we'll get to the bottom of this 😄

[2020-12-29 21:02] imnotdannorton commented on #26
I am encountering this issue at the moment. building on Netlify, trying to empty cache and rebuild, and seeing this part of the output:

[code]
this is rather frustrating, as I had hoped removing a previous asset that had been throwing the same error and replacing it with a new one would solve the issue. but alas, here we are. All of the contentful assets have been published -- I am going to see i

[2020-12-29 21:28] imnotdannorton commented on #26
removing the flag didn't help 😢

[2020-12-29 22:43] stuut commented on #47
I have been doing some testing and It is looking a lot like it was my dodgy service worker set up. Just wanted to say thank you again. Champion!!!!!!

[2020-12-30 23:24] jlengstorf commented on #26
@imnotdannorton does it build if you disable this plugin? if a clear cache isn't working, that feels like it might be a contentful issue?

[2020-12-30 23:25] jlengstorf commented on #47
happy to hear you got it sorted out! thanks for following up!

[2020-12-30 23:25] #47 closed

[2020-12-30 23:52] imnotdannorton commented on #26
@jlengstorf thanks for the reply; I guess that's where I am getting confused, if Gatsby is getting the reference to this item from Contentful (where it does in fact exist, although the filename when uploaded does _not_ have the hash at the end), what part of the build process is causing it to fail? the server trying to download it and put it in this build repo?

I commented here because I thought

[2021-01-01 07:45] jlengstorf commented on #26
unfortunately I don't know enough about how the Contentful plugin works to be useful here. if I had to guess, the plugin has some logic to generate assets and it's skipping the generation for some reason but tracking as if it's been generated?

good luck!

[2021-01-20 06:01] richardfrankza opened #48 "GraphQL queries to service fail after installing plugin"
Hi there

When I clear cache it works.

`
7:50:16 AM: success createPagesStatefully - 0.109s
7:50:16 AM: success Cleaning up stale page-data - 0.002s
7:50:16 AM: success update schema - 0.044s
7:50:16 AM: success onPreExtractQueries - 0.004s
7:50:21 AM: error There was an error in your GraphQL query:
7:50:21 AM: Unknown argument "slug" on field "formiumForm" of type "Query".
7:50:21 AM: GraphQL re

[2021-02-01 22:20] jlengstorf commented on #48
hey there!

if you run your build locally without deleting the cache or public folders, do you get this same error? this plugin has no effect on how Gatsby operates, so my suspicion is that either this failure occurs when Formium finds a cache (triggering it to skip something) or that a folder _not_ in the `.cache` or `public` directory is created that doesn't get cached by this plugin

it's hard

[2021-02-02 11:26] richardfrankza commented on #48
I don't delete anything locally. Formium builds perfectly locally. When I get time I will produce a minimalist repo you can use as a test.

[2021-02-20 18:12] felixbuchholz opened #49 "Can’t uninstall plugin in netlify web interface"
The uninstall option is not shown in the option panel of the plugin. The plugin still gets triggered in build processes, and we sometimes have issues with our CMS.

Is there a way to uninstall the plugin differently? Thanks in advance!

[2021-02-22 18:46] nboliver opened #50 "Certain pages are not built when data changes"
Using `gatsby-source-sanity` some document types are not getting built by Netlify when the data changes. The build is triggered, but these specific pages don't show the new data. Using the same config & dataset while building locally _does_ build the documents in question, so it's looking like this is a cache issue.

Is there a way to clean the gatsby cache on Netlify? Other suggestions on how to

[2021-02-23 00:07] jaobrown commented on #50
@nboliver I have had some issues with changes in documents (content changes on a collection, for example) not pulling in to the builds while using this plugin.

One temp fix for this is to go to your "deploys" tab in the Netlify dashboard, "trigger deploy" > "Clear cache and deploy site". This will scrap the cache saved by this plugin, and initiate a fresh build for you.

Has worked for me in the

[2021-02-23 17:52] nboliver commented on #50
Thanks @jaobrown. Clearing the cache via the UI works for that specific build but then the next one triggered by a data change / deploy hook does not publish the changed document. The `--log-pages` option clearly shows that the pages are not being built.

@jlengstorf Any update / input here? Would love to keep using this plugin, but right now it's not usable, since we can't expect clients to monit

[2021-03-12 10:22] MaltheBlichfeldt commented on #50
We are having sort of the same problem. Using Forestry, the change in content starts a build, but the build is just a mirror of the cache, so no changes gets published and we are stuck ind the same cached version forever. We just migrated to Gatsby 3.0.4 (from 2.0) to see if this helped, but same story... 🤔

[2021-03-16 16:05] JackHowa opened #51 "Error If I Don't Clear Cache Using Netlify Plugin"
[code]
[code]

via https://app.netlify.com/sites/run-log/deploys/6050d590432356e0669e46a2

when I clear the cache, this works as expected with netlify

repo https://github.com/JackHowa/marathon-run-log/blob/main/package.json

this broke with ^3.0.0 gatsby

[2021-03-17 22:41] #51 closed

[2021-03-18 01:33] mfuery opened #52 "Builds fail with WebpackError relating to a Gatsby image plugin"
When I enable this plugin in Netlify config UI, builds consistently fails at:
`   const imageSEO = frontmatter.image.childImageSharp.fluid.src`
`WebpackError: TypeError: Cannot read property 'childImageSharp' of null`
(see full output below)

The build succeeds the 1st time and fails each subsequent time. This indicates to me that something about the cache is not quite right.

Without this plugin

[2021-03-18 01:40] mfuery commented on #52
In case this is useful: I uninstalled this plugin via Netlify UI, then Retry Deploy -> Clear Cache. This is the output (successful).

[code]

[2021-04-12 08:53] qubis741 opened #53 "Stored cache is ignored on build"
Hello there,
I was using this cool plugin for a long time without any problems, but on 15.3.2021 it suddenly stopped to retrieve stored cache. I though it might be because I was running on gatsby v2, so I have updated all related libs to work on gatsby v3, but still no luck. I have also tried to clear cache. Plugin was installed via Netlify UI, I have also tried installing it via  `netlify.toml` a

[2021-04-12 10:20] qubis741 commented on #53
So I have found what is wrong. As you can see in bottom of log, it says that Command did not finish within the time limit. It is because Netlify Build time limit is 15minutes. Site got deployed but cache was not stored, even if it says its stored. So solution is to reduce build time temporary (in my case it was removing some products from sales channel), netlify saves that part to cache and contin

[2021-04-12 21:26] jdortegar commented on #53
Same issue here, cache is not founden in each build, here are the logs
[code]

[2021-04-13 16:23] nboliver commented on #50
Small update here in hopes of some resolution -
@jlengstorf We've noticed that this issue seems specifically related to Gatsby > 2.3.x (including 3.x as @MaltheBlichfeldt described above)
We upgraded a site from 2.24.67 to 2.32.11 yesterday and the issue immediately came up. Do you have any insight into what could be causing this? I don't see anything in the plugin source that looks responsible. N

[2021-04-13 17:22] MaltheBlichfeldt commented on #50
Second that, @nboliver, since Gatsby 3.0 has incremental builds as default, a cache plugin is even more important. In our case this plugin can save our site from hours of build time if @jlengstorf could get it to work or him us in a direction, so we can contribute ❤️

[2021-04-25 05:14] rahulbreezo opened #54 "is there way we can set expiry on build cache?"
I want to set expiry on build cache so that after expiry time , a new new fresh build gets created.
is it possible?

[2021-04-27 17:14] jlengstorf commented on #50
hey, everyone! all this plugin does is copy the `.cache` and `public` folders from Gatsby, so I'm not sure how it could be affecting this unless Gatsby moved something outside of those folders?

@sidharthachatterjee any chance the caching mechanisms changed in >=2.3.x?

[2021-04-27 19:44] jlengstorf commented on #50
I did a little digging here and deployed the "Blog with Gatsby" project from https://www.sanity.io/create

I installed the cache plugin, added the `--log-pages` flag, and made some changes. as far as I can tell it's working properly

- repo: https://github.com/jlengstorf/netlify-plugin-gatsby-cache-50
- log for an incremental build (note that only three pages updated): https://app.netlify.com/site

[2021-04-27 21:16] MaltheBlichfeldt commented on #50
@nboliver we found an easy “fix” to this described here:

https://github.com/gatsbyjs/gatsby/issues/26520#issuecomment-818850559

Now, using a shell script doesn’t entirely take advantage of the incremental build feature, but does persists image handling and other time consuming stuff, so via this little “solution” we brought our build time down to 5 min from 18 min. And it took 10 min, so worth t

[2021-04-27 21:20] MaltheBlichfeldt commented on #50
@jlengstorf I’m afraid we cannot reference our site, since it’s a live costumer site. The plug-in also does what you replicated, but the problem  is that the site doesn’t update the content. So the log seams fine but the site is no more in sync with what’s actually being build. Did you check to see, if the content on those three sites were being updated? Thanks for getting back btw 👍🏻

[2021-04-29 08:46] fedorovmichael opened #55 "Gatsby cache plugin not update data correct"
Hi,

my site: elated-hoover-b36a93
work stack: gatsby / wordpress /bitbucket
wordpress plugin: NetlifyPress v1.1.1
When I change something in wordpress it not updated correct in the netlify, only after I do clear cache and deploy site it is updated.

deploy log:

10:27:08 AM: Build ready to start
10:27:10 AM: build-image version: 7b53c5fc4445e3ec99d3949e5d1174a8c5be4f16
10:27:10 AM: build-image ta

[2021-05-03 19:13] nboliver commented on #50
@jlengstorf Both the sites this is affecting are production sites so we can't share access publicly. Are there logs or perhaps a screen recording that we could create to help isolate the issue?
The workflow is:
- Upgrade Gatsby to > v2.24.67
- Deploy to Netlify
- Make changes in Sanity that trigger a build hook when published
- Review build log and see that documents which triggered build hook are

[2021-05-06 22:37] jlengstorf commented on #50
@MaltheBlichfeldt

I did check to make sure it was updating the content.

is the content that's not updating a custom field? is it _all_ content, or only certain fields?

without a reproduction it's really hard for me to determine where the issue is

@nboliver

if the pages are _not_ logged in the list, then this plugin isn't the culprit. that's either Sanity not telling Gatsby that the pages have

[2021-05-06 22:44] jlengstorf commented on #53
the build is timing out:

you can do as @qubis741 said and reduce the size of your build to get a cache in place (skipping some pages and/or images can help here), or you can open a topic on [the Netlify Forums](https://answers.netlify.com/) to request an increased time limit for builds that will let this build complete

I hope that helps!

[2021-05-06 22:44] #53 closed

[2021-05-06 22:47] jlengstorf commented on #49
is the plugin installed in your `netlify.toml`?

if not, this sounds like a Netlify bug — you can [post in the forums](https://answers.netlify.com/) and they can dig into why the uninstall button isn't available

thanks!

[2021-05-06 22:47] #49 closed

[2021-05-06 22:49] jlengstorf commented on #54
this is not possible, but it shouldn't be necessary according to Gatsby's team

the only way to expire the cache when this plugin is installed is to click the "clear cache and deploy" button in Netlify

[2021-05-06 22:49] #54 closed

[2021-05-07 15:04] nboliver commented on #50
@jlengstorf That's great info, appreciate the response.
Sounds like a possible solution could be to upgrade to gatsby-source-sanity v7.x / Gatsby 3 and hope for some good luck.

[2021-06-01 14:45] tantrongtt commented on #55
Got the same issue.
I just added a new mdx file. It runs on local. But when deploy it on Netlify with this plugin, there's no new page created on production. Even I tried to update the text of the existing mdx file, also no change.

When I tried to clear cache and deploy again, then it works.

Any idea?

Thanks

[2021-06-07 18:52] LukeShu opened #56 "Caused "Error fetching branch""
We encountered an issue where when using the cache, Netlify would have an "Error fetching branch" during the "preparing repo" stage:

[code]

The error first appeared seemingly spontaneously on multiple branches with unrelated changes.  This error did not happen when doing a "Clear cache and deploy site", but the error would immediately return for the next cache-using deploy.  We eventually resolv

[2021-06-09 16:19] khussey commented on #56
We are once again encountering the error with the plugin installed, even after having removed submodules from our repository.

[2021-06-14 08:35] qubis741 opened #57 "Static HTML page doesn't update on deploy when data changes"
Hello there,
I have a problem with this plugin, that static generated HTML page which loads as a first has cached old data. I am using Shopify as a source of data and I have set deploy to trigger on product create/update/deletion. So for example first second or 2 shows old list of products and then, when React hydrates, new list is loaded. When I clear cache in Netlify or when I update code with s

[2021-06-24 20:11] deplume commented on #55
I'm experiencing something similar for me my netlify boolean widget data gets changed to null or just doesn't update when editing from the admin cms

[2021-06-27 23:07] jlengstorf commented on #55
hey, there! this plugin is going to be deprecated soon in favor of an official Netlify Gatsby support plugin

can you please switch to https://github.com/netlify/netlify-plugin-gatsby and see if that resolves the issue?

thanks!

[2021-07-04 03:11] jlengstorf commented on #57
hey there! this plugin is being replaced by official Netlify Gatsy support, so can you please switch to https://github.com/netlify/netlify-plugin-gatsby and see if it clears up the issue?

thanks!

[2021-07-04 03:11] #57 closed

[2021-07-04 03:13] jlengstorf commented on #56
hey, folks — this plugin is being replaced by official Netlify Gatsby support. can you please try the official plugin (https://github.com/netlify/netlify-plugin-gatsby) and see if it clears up the issue? if not, the team maintaining that plugin can help you dig in further. thank you!

[2021-07-04 03:13] #56 closed

[2021-07-04 03:25] jlengstorf commented on #52
hey, y'all! this plugin has been replaced by https://github.com/netlify/netlify-plugin-gatsby, which is an official Netlify plugin. if you see this issue again, please switch to that plugin and see if things clear up. thanks!

[2021-07-04 03:25] #52 closed

[2021-07-19 12:26] qubis741 commented on #57
Hi, thanks for info but this problem still persist in new official Gatsby plugin. I have created issue there, if someone has same problem: https://github.com/netlify/netlify-plugin-gatsby/issues/86

[2021-09-22 09:40] dnlmzw opened #59 "Plugin breaks in @netlify/build 18.11.2"
Hi there,

This plugin stopped working in between `@netlify/build` 18.10.0 and 18.11.2

I haven't changed my code, but my builds are triggered by a hook coming from Prismic. However, the latests builds have not been working. I'm receiving the following error:

[code]